**/*

!submodules/client/node_modules
!submodules/client/out
!submodules/client/package.json
!submodules/vscode-lua-doc/doc
!submodules/vscode-lua-doc/extension.js
!submodules/client/webvue/build

!submodules/server/bin
!submodules/server/locale
!submodules/server/script
!submodules/server/main.lua
!submodules/server/main.lua
!submodules/server/debugger.lua
!submodules/server/changelog.md
!submodules/server/LICENSE
!submodules/server/meta/submodules
!submodules/server/meta/template
!submodules/server/meta/spell

!images/logo.png

!setting
!syntaxes
!package.json
!README.md
!changelog.md
!package.nls.json
!package.nls.*.json
!LICENSE
